nav {
  border-bottom: 1px solid #f42f2c;
  > div {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > div {
        > ul {
          position: absolute;
          right: 36px;
          top: 60px;
          background: #fff;
          z-index: 99999;
          list-style: none;
          width: 130px;
          border: 2px solid rgba(244, 47, 44, 0.7);
          display: none;
          @media (min-width: 576px) {
            position: unset;
            top: unset;
            background: unset;
            display: block;
            width: unset;
            border: unset;
          }
          > li {
            padding: 9px 5px;
            > a {
              display: block;
              width: 117px;
              @media (min-width: 576px) {
                width: unset;
                display: inline-block;
              }
            }
            @media (min-width: 576px) {
              display: inline-block;
              margin-left: 1rem;
            }
          }
        }
        > ul.show {
          display: block;
        }
      }
      > button {
        position: absolute;
        right: 27px;
        top: 18px;
        padding: 0;
        height: 40px;
        width: 40px;
        z-index: 9999;
        background: transparent;
        border: none;
        display: unset;
        cursor: pointer;
        @media (min-width: 576px) {
          display: none;
        }
        > span {
          width: 20px;
          height: 2px;
          background-color: #f42f2c;
          display: block;
          margin: 7px auto;
          transition: transform 0.2s linear, visibility 0.2s linear;
        }
      }
      > button.active {
        > span {
          visibility: hidden;
          &:first-of-type {
            transform: translateY(9px) rotate(45deg);
            visibility: visible;
          }
          &:last-of-type {
            transform: translateY(-9px) rotate(-45deg);
            visibility: visible;
          }
        }
      }
      a {
        padding: 5px 10px;
        color: #f42f2c;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
        &:hover {
          background-color: #f42f2c;
          color: #fff;
        }
      }
      a.active {
        background-color: #f42f2c;
        color: #fff;
      }
    }
  }
}
