footer {
  padding: 4em 0 2em 0;
  background: #120f0f;
  color: #fff;
  overflow: hidden;

  .footer__question {
    span {
      display: block;
      margin-bottom: 10px;
      svg {
        color: #fff;
        margin-right: 10px;
      }
    }
  }
}
